# Test Summary Report: [Downtown Lafayette](https://downtownlafayette.org/)

## Project Information

Tested function of buttons, clickable links and API 

## Test Items:

* Banner and page buttons
* Clickable links
* GET API call

## Test Execution Details
[Trello Test Plans](https://trello.com/b/M1dppKQV/qa-capstone-test-plans#)

## Test Execution Results
* 11 planned
* 10 passed
* 1 failed

## Test Summary

Basic UI testing uncovered one defect of moderate severity: Pictures do not load under the "Join us Downtown for..." caption below the banner picture on the front page. Instead, code appears which presents a confusing look to the user.