# Test Summary Report: [Lafayette Parish Sheriff's Office](https://www.lafayettesheriff.com/)

## Project Information

Tested function of buttons, clickable links and API 

## Test Items:

* Banner buttons and page buttons
* Clickable links
* GET API calls

## Test Execution Details
[Trello Test Plans](https://trello.com/b/M1dppKQV/qa-capstone-test-plans#)<br>
[Automation Tests](https://github.com/atchafalaya/QA-Capstone/blob/master/LPSO.test.js)<br>
[API GET Call](https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3447.4904146924778!2d-92.02380658488067!3d30.223088481817605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86249c8f469eb8c5%3A0xbf84d965049db938!2s316+W+Main+St%2C+Lafayette%2C+LA+70501!5e0!3m2!1sen!2sus!4v1533139655396)

## Test Execution Results
* 12 planned
* 10 passed
* 2 failed

![Automation screenshot](https://github.com/atchafalaya/QA-Capstone/blob/master/images/LPSO-automation-screenshot.png)

## Test Summary

Basic UI testing uncovered two defects of moderate severity: 
1.  Daily Arrests Report, Roads Closed, and Join Us On Facebook buttons work on front page only, otherwise they do not function
2.  Police Assistance Fund button leads to a dead link. 
