# Test Summary Report: [Lafayette Parish Sheriff's Office](https://www.lafayettesheriff.com/)

## Project Information

Tested function of buttons, clickable links and API 

## Test Items:

* Banner buttons and page buttons
* Clickable links
* GET API call

## Test Execution Details
[Trello Test Plans](https://trello.com/b/M1dppKQV/qa-capstone-test-plans#)

## Test Execution Results
* 12 planned
* 10 passed
* 2 failed

## Test Summary

Basic UI testing uncovered two defects of moderate severity: 
1.  Daily Arrests Report, Roads Closed, and Join Us On Facebook buttons work on front page only, otherwise they do not function
2.  Police Assistance Fund button leads to a dead link. 
